.mainFxmlClass {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-font-family: 'Century Gothic', 'AvantGarde LT Medium';
}

.container {
}

.label {
    -fx-font-weight: bold;
}

.text-input {
    -fx-font-family: 'monospace';
}

.button {
    -fx-border-color: #333333;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: #666666;
    -fx-text-fill: #ffffff;
}

.table-view {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent;
    -fx-border-width: 2px;
    -fx-background-insets: 0;
    -fx-padding: 0 10 0 0;
}

.table-view .column-header, .table-view .filler {
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.table-view .table-cell {
    -fx-border-color: transparent;
    -fx-font-family: 'monospace';
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

